body{
    border: 1px solid black;
    text-align: center;
}

#popup-content {
    width: 200px;
    padding: 20px;
  }
  
  #password-input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  #unlock-button {
    width: 100%;
    padding: 8px;
  }
  
  #profile-locker-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  
  #profile-locker-overlay div {
    text-align: center;
  }
  
  #profile-locker-password {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  #profile-locker-unlock {
    padding: 8px;
  }
  
  #profile-locker-message {
    margin-top: 10px;
    color: red;
  }
  